<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="kr.co.drdesign.golffinder"
	android:versionCode="1"
	android:versionName="1.0"
>
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>

	<application
		android:label="@string/app_name"
		android:icon="@drawable/ic_hollinone"
	>
		<uses-library
			android:name="com.google.android.maps" />
		<activity
			android:name=".MenuActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar"
		>
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SearchFieldGCActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait"
		></activity>
		<activity
			android:name=".SearchFieldGCList"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar"
			android:windowSoftInputMode="stateHidden"
		></activity>

		<activity
			android:name=".SearchScreenGCActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait"
		></activity>

		<activity
			android:name=".SearchScreenGCList"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar"
			android:windowSoftInputMode="stateHidden"
		></activity>
		<activity
			android:name=".ExcelList"
			android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"
		></activity>
		<activity
			android:name=".ExcelActivity"
			android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait"
		></activity>
		<activity
			android:name=".ExcelDetailInfoActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar"
		></activity>
		<activity
			android:screenOrientation="portrait"
			android:name=".ExcelLocationCategoryActivity"
			android:theme="@android:style/Theme.NoTitleBar"
		></activity>

		<activity
			android:name=".FavoriteActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar"
		></activity>
		<activity
			android:name=".GCSimpleMapActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar"
		></activity>
	</application>

	<uses-sdk
		android:minSdkVersion="7" />
</manifest> 